# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Generated outputs
data/output/
*.pdf

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.dbUpdated_BOOKLET_AI/
Updated_BOOKLET_AI.zip
Updated_BOOKLET_AI.zip
